html {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

/* 헤더영역 */
header {
  width: 100%;
  height: 7rem;
  background-color: #062c5e;
  opacity: 20%;
}

header > div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header > div > h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 100%;
}

header div > .utils {
  position: relative;
  top: 1.75rem;
}

header div > .utils > .lang,
header div > .utils a {
  font-size: 0.8rem;
  vertical-align: top;
}

header div > h1 {
  font-size: 0;
}

header div > .utils .util > a,
header div > .utils .lang,
header div > .utils .lang ul,
header div > .utils .lang ul li,
header div > h1 {
  display: inline-block;
}

header div > .utils > .lang > ul,
header div > .utils > .util > a,
header div > h1 {
  line-height: 100%;
  vertical-align: top;
  font-size: 0.67rem;
  color: #fff;
}

header div > .utils > .util {
  position: absolute;
  display: inline-block;
  right: 0;
  padding-right: 0.6rem;
}

header div > .utils > .util > a {
  margin: 0 1.5rem 0 0;
}

header div .utils > .util > a:first-child:before {
  content: "";
  width: 1px;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 2.8rem;
  top: 0;
}

header div > .utils .lang ul li {
  margin: 0 0.7rem 0 0;
}

header div > .utils .lang ul li:first-child {
  content: "";
  border-bottom: 1px solid #fff;
}

.all,
h2 {
  display: none;
}

header .nav ul {
  position: absolute;
  top: 5rem;
  width: 80%;
  text-align: center;
}

header .nav ul li {
  display: inline-block;
  padding: 0 2rem 0 0;
}

header .nav ul li a {
  font-size: 0.8rem;
  color: #fff;
}

header div .utils .search:before {
  content: "\e97a";
  font-family: "xeicon";
}

header div .utils .search > span {
  position: absolute;
  left: -4000%;
}

/* 슬라이드 영역 */
.visual_slide {
  height: 100vh;
  background: url(../images/AP_Post_Covid19_Corp_Campaign_3_PC_1.jpg) no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.visual_slide > .prev:before,
.visual_slide > .next:before {
  font-family: "xeicon";
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
}

.visual_slide > .prev:before {
  content: "\e93c";
  left: 0;
  margin-left: 0.5rem;
}
.visual_slide > .next:before {
  content: "\e93f";
  right: 0;
  margin-right: 0.5rem;
}

.visual_slide > .controller {
  width: 100%;
  height: 4.25rem;

  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
}

.visual_slide > .controller > div {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.visual_slide > .controller > div > ul {
  margin: 0 5.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.visual_slide > .controller > div > ul > li {
  color: #000;
  font-size: 0.9rem;
  display: inline-block;
}

.visual_slide > .controller > div > ul > li > a {
  white-space: nowrap;
}
