html {
  height: 300vh;
  font-size: 20px;
  font-family: "Noto Serif", "Nanum Gothic", serif;
}

body {
  font-size: 1rem;
}

/* 헤더영역 */
header {
  width: 100%;
  height: 7rem;

  opacity: 100%;
  position: absolute;
  transition: background-color 0.5s;
}
header:hover {
  background-color: #062c5e;
}

header > div {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

header > div > h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 100%;
}

header div > .utils {
  position: relative;
  top: 1.75rem;
}

header div > .utils > .lang,
header div > .utils a {
  font-size: 0.8rem;
  vertical-align: top;
}

header div > h1 {
  font-size: 0;
}

header div > .utils .util > a,
header div > .utils .lang,
header div > .utils .lang ul,
header div > .utils .lang ul li,
header div > h1 {
  display: inline-block;
}

header div > .utils > .lang > ul,
header div > .utils > .util > a,
header div > h1 {
  line-height: 100%;
  vertical-align: top;
  font-size: 0.67rem;
  color: #fff;
}

header div > .utils > .util {
  position: absolute;
  display: inline-block;
  right: 0;
  padding-right: 0.6rem;
}

header div > .utils > .util > a {
  margin: 0 1.5rem 0 0;
}

header div .utils > .util > a:first-child:before {
  content: "";
  width: 1px;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 2.8rem;
  top: 0;
}

header div > .utils .lang ul li {
  margin: 0 0.7rem 0 0;
}

header div > .utils .lang ul li:first-child {
  content: "";
  border-bottom: 1px solid #fff;
}

.all,
.nav > h2,
.visual_slide > h2 {
  position: absolute;
  left: -4000%;
}
header .nav {
  width: 100%;
}

header .nav > nav > ul {
  position: absolute;
  top: 5rem;
  width: 100%;
  text-align: center;
}

header .nav > nav > ul li {
  display: inline-block;
  padding: 0 2rem 0 0;
}

header .nav ul li a {
  font-size: 0.8rem;
  color: #fff;
}

header div .utils .search:before {
  content: "\e97a";
  font-family: "xeicon";
}

header div .utils .search > span {
  position: absolute;
  left: -4000%;
}

/* 헤더영역: 드로우 메뉴 */

.draw_menu {
  display: none;
  width: 100%;
  height: 372px;
  background-color: #fff;
  opacity: 80%;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 5;
}

.draw_menu.on {
  display: block;
  width: 100%;
  height: 372px;
}

.draw_menu .left {
  background-color: #f5f5f5;
  width: 40%;
  height: 100%;
  padding: 3.2em 50px 3.333rem calc(8rem + 10px);
  box-sizing: border-box;
  float: left;
}

.draw_menu .left > h2 {
  text-align: left;
  line-height: 100%;
  padding: 0 0 1rem 0;
  color: #000;
}

.draw_menu .left > p {
  line-height: 1.2rem;
  color: #767676;
  text-align: left;
}

.draw_menu .left > a {
  color: #444444;
  font-size: 0.6rem;
  float: left;
  margin: 1rem 0 0 0;
}

.draw_menu .left > a:after {
  content: "\e93e";
  font-family: "xeicon";
  padding-left: 0.2rem;
}

.draw_menu > ul {
  width: 60%;
  float: left;
  padding: 3.2em 50px 3.33333em 10px;
  box-sizing: border-box;
}

.draw_menu > ul li {
  display: block;
  padding: 0 0 1rem 1rem;
  text-align: left;
  font-size: 0.75rem;
  color: #616161;
}

.draw_menu .right {
  width: 25%;
  position: absolute;
  top: 15%;
  left: 60%;
}

.draw_menu .right img {
  width: 100%;
}

.draw_menu .right p {
  display: block;
  color: #616161;
  line-height: 1.2rem;
  padding: 0.5rem 0 0 0;
  text-align: left;
  width: 100%;
}

.draw_menu p {
  font-size: 0.7rem;
}

/* 슬라이드 영역 */
.visual_slide {
  height: 100vh;
  width: 100%;
}
.visual_slide > div {
  width: 100%;
  height: 100%;

  width: 100%;
  z-index: -2;
}

.visual_slide > div > .prev:before,
.visual_slide > div > .next:before {
  font-family: "xeicon";
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50vh;
}

.visual_slide > div > .prev:before {
  content: "\e93c";
  left: 0;
  margin-left: 0.5rem;
}
.visual_slide > div > .next:before {
  content: "\e93f";
  right: 0;
  margin-right: 0.5rem;
}

.visual_slide > div > .controller {
  width: 100%;
  height: 4.25rem;

  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
}

.visual_slide > div > .controller > div {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.visual_slide > div > .controller > div > ul {
  margin: 0 5.4rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.visual_slide > div > .controller > div > ul > li {
  color: #000;
  font-size: 0.9rem;
  display: inline-block;
}

.visual_slide > div > .controller > div > ul > li > a {
  white-space: nowrap;
}

/* 슬라이드 영역: 이미지 슬라이드 */
.visual_slide > div > .slide {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.visual_slide > div > .slide > ul {
  height: 100%;
  width: 100%;
  margin-left: 0;
}
.visual_slide > div > .slide > ul > li {
  height: 100%;
  width: 100%;
}
.visual_slide > div > .slide > ul > li:nth-child(1) {
  background: url(../images/AP_Post_Covid19_Corp_Campaign_3_PC_1.jpg) no-repeat
    center;
  background-size: 100% auto;
}
.visual_slide > div > .slide > ul > li:nth-child(2) {
  background: url(../images/image_12_13.jpg) no-repeat center;
  background-size: 100% auto;
}
.visual_slide > div > .slide > ul > li:nth-child(3) {
  background: url(../images/image_28_1.jpg) no-repeat center;
  background-size: 100% auto;
}
.visual_slide > div > .slide > ul > li:nth-child(4) {
  background: url(../images/image_191205.png) no-repeat center;
  background-size: 100% auto;
}

/* 뉴스영역 */
.home_news {
  height: 29.5rem;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 3rem 0;
}
.home_news div > h2 {
  padding: 5.25rem 0 3rem 0;
  font-size: 1.3rem;
  color: #222222;
}

.home_news div .list ul {
  display: flex;
  flex-wrap: wrap;
}

.home_news div .list ul li {
  font-size: 0.85rem;
  display: inline-block;
  width: 25%;
  padding: 0 1.15rem 0 0;
  box-sizing: border-box;
}

.home_news div .list ul li img {
  width: 100%;
  padding: 0 0 0.85rem 0;
}
.home_news div .list ul li div {
  width: 12rem;
  line-height: 1.15rem;
  height: 1.15rem;
  padding: 0 0 0 0.6rem;
}

.home_news div {
  position: relative;
}

.home_news div > a {
  border: 1px solid #999;
  border-radius: 21px;
  padding: 0.45rem 1.75rem 0.45rem 1.2rem;
  position: absolute;
  top: 5.25rem;
  right: 0;
  font-size: 0.6rem;
  color: #444444;
  line-height: 1.2rem;
  margin: 0 1.15rem 0 0;
}
.home_news div > a:after {
  content: "\e93f";
  font-family: "xeicon";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.2);
  margin-left: 0.25rem;
  color: #444444;
}

/* 소개 영역 */
.introduce {
  width: 100%;
  height: 26rem;
  background-color: #005295;
}

.introduce > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.introduce div > h2 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 100%;
  padding: 6rem 0 0 0;
}

.introduce div > ul {
  width: 75%;
  position: absolute;
  bottom: 5.75rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.introduce div > ul > li {
  display: inline-block;
  position: relative;
}

.introduce div > ul > li > span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  font-size: 4rem;
  color: #fff;
}

.introduce div > ul > li:nth-child(1) > span {
  left: 20%;
}
.introduce div > ul > li > span.no {
  font-size: 1.8rem;
  top: 55%;
  left: 20%;
}

.introduce div > ul > li > span.num {
  left: 55%;
}

.introduce div > ul > li:nth-child(3) > span {
  left: 35%;
}
.introduce div > ul > li:nth-child(4) > span {
  left: 20%;
}

/* footer */
footer {
  width: 100%;
  height: 9rem;
  text-align: center;
  font-family: "Nanum Gothic";
  border-top: 1px solid #e0e0e0;
  margin: 7rem 0 0 0;
}

footer .footer_menu > h2 {
  position: absolute;
  left: -4000%;
}

footer > div {
  position: relative;
}

footer > div > p {
  font-size: 0.6rem;
  line-height: 100%;
}
footer > div > a {
  display: inline-block;

  font-size: 0.5rem;
  border: 1px solid #999;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -1rem;
  background-color: #fff;
}
footer > div > a > span {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #707070;
}

footer > div > a:before {
  content: "\e946";
  font-family: "xeicon";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #707070;
}

footer .footer_menu > ul {
  padding: 2.2rem 0 0 0;
}

footer .footer_menu > ul > li {
  display: inline-block;
  font-size: 0.68rem;
  padding-right: 1rem;
  position: relative;
}

footer .footer_menu > ul > li:after {
  content: "";
  width: 1px;
  height: 10px;
  background-color: #e0e0e0;
  position: absolute;
  top: 3px;
  right: 8px;
}

footer .footer_menu > ul > li:last-child:after {
  display: none;
}

footer div > p:nth-of-type(1) {
  padding: 1.45rem 0 1.15rem 0;
}
footer div > p:nth-of-type(2) {
  padding: 1.2rem 0 1.5rem 0;
}

footer div > .social > .facebook img {
  width: 11px;
  margin-right: 1rem;
}
footer div > .social > .linkedin img {
  width: 23px;
}
