html {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

/* 헤더영역 */
header {
  width: 100%;
  height: 7rem;
  background-color: skyblue;
}

header > div {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  background-color: tomato;
}

header > div > h1 {
  position: absolute;
  top: 1.75rem;
  left: 50%;
  transform: translateX(-50%);
  line-height: 100%;
}

header div > .utils {
  position: relative;
  top: 1.75rem;
}

header div > .utils > .lang,
header div > .utils a {
  font-size: 0.8rem;
  vertical-align: top;
}

header div > h1 {
  font-size: 0;
}

header div > .utils .util > a,
header div > .utils .lang,
header div > .utils .lang ul,
header div > .utils .lang ul li,
header div > h1 {
  display: inline-block;
}

header div > .utils > .lang > ul,
header div > .utils > .util > a,
header div > h1 {
  line-height: 100%;
  vertical-align: top;
  font-size: 0.67rem;
  color: #fff;
}

header div > .utils > .util {
  position: absolute;
  display: inline-block;
  right: 0;
}

header div > .utils .lang ul li {
  margin: 0 0.7rem 0 0;
}

.all,
h2 {
  display: none;
}

header .nav ul {
  position: absolute;
  top: 5rem;
  width: 75%;
  text-align: center;
}

header .nav ul li {
  display: inline-block;
  padding: 0 2rem 0 0;
}

header .nav ul li a {
  font-size: 0.8rem;
  color: #fff;
}

header div .utils .search:before {
  content: "\e97a";
  font-family: "xeicon";
}

header div .utils .search > span {
  position: absolute;
  left: -4000%;
}
